/* Custom Styles */

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 80px; /* Adjust according to the height of your navbar */
    background-color: #f8f9fa; /* Set a background color */
  }
  
  .navbar {
    background-color: rgba(255, 255, 255, 0.9); /* Transparent navbar with some opacity */
    transition: background-color 0.3s ease;
  }
  
  .navbar-brand .logo {
    width: 50px; /* Adjust logo size as needed */
  }
  
  .navbar.navbar-light.fixed-top.scrolled {
    background-color: #ffffff; /* Change to white when scrolled */
  }
  
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('pexels-google-deepmind-17483910.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 150px 0;
    text-align: center;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner h2 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner p {
    padding-top: 50px;
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.social-buttons {
    margin-top: 20px;
}

.social-button {
    display: inline-block;
    margin: 0 10px;
}

.social-button img {
    width: 40px; /* aanpassen aan de gewenste grootte */
    height: 40px; /* aanpassen aan de gewenste grootte */
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-button img:hover {
    transform: scale(1.1);
}


.text-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 30px; /* Adjust height as needed */
    background-color: black; /* Adding black background */
  }
  .text {
    position: absolute;
    animation: slideText 20s linear infinite; /* Adjust duration as needed */
    color: white; /* Hiding text to apply gradient */
    -webkit-background-clip: text; /* Ensuring text clip to gradient */
    background-clip: text; /* Ensuring text clip to gradient */
  }
  @keyframes slideText {
    0% {
      left: 100%;
    }
    100% {
      left: -100%; /* Adjust distance as needed */
    }
  }

  .features {
    padding: 20px 0;
  }

  .features h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .features .feature {
    text-align: center;
    margin-bottom: 40px;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
  }
  
  .features .feature:hover {
    transform: translateY(-10px); /* Move the feature up slightly on hover */
  }
  
  .features .feature .icon {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #007bff; /* Change icon color */
  }
  
  .features .feature h3 {
    color: #343a40; /* Change heading color */
  }
  
  .features .feature p {
    color: #6c757d; /* Change paragraph color */
  }

  .project-card {
    margin-bottom: 20px;
  }

  .about-section {
    padding: 50px 0;
  }
  .about-heading {
    margin-bottom: 30px;
  }
  .about-content {
    font-size: 18px;
  }

  .img-fluid {
    max-width: 200px;
    border-radius: 30%;
  }

  .contact-info-item {
    display: flex;
    align-items: center;
  }
  .contact-info-item i {
    flex: 0 0 auto;
    margin-right: 10px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}  
  @media (max-width: 768px) {
    .features .feature {
      margin-bottom: 20px; /* Reduce margin for smaller screens */
    }
  }
  